
  <div id="mapid"></div>
  <script >
//    lat = 39.978;
//    long = 116.497;
    lat = 51.5;
    long = -0.09;
    var mymap = L.map('mapid').setView([lat, long], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      id: 'mapbox.streets'
    }).addTo(mymap);

    var bookGeoInfoArray = [
      {number: 5, position: [51.495, -0.083], item: 'A Man in All Markets'},
      {number: 18, position: [51.49, -0.1], item: ''},
      {number: 20, position: [51.49, -0.11], item: ''},
      {number: 1, position: [51.51, -0.07], item: '硅谷钢铁侠'},
      {number: 7, position: [51.51, -0.105], item: '鞋狗 等'},
    ];

    var arrayLength = bookGeoInfoArray.length;
    for (var i = 0; i < arrayLength; i++) {
      var bookGeoInfo = bookGeoInfoArray[i];
      var myIcon = L.divIcon({
        className: 'map-icon',
        html: '<div class="book-num">'+ bookGeoInfo.number + '</div>'+
        '<h6 class="item-info">'+bookGeoInfo.item+'</h6>'
      });
      L.marker(bookGeoInfo.position, {icon: myIcon}).bindPopup("I am a red leaf.").addTo(mymap );
    }

    var marker = L.marker([lat, long]).addTo(mymap);

  </script>
