
  <div id="mapid"></div>
  <script >
//    lat = 39.978;
//    long = 116.497;
    lat = 51.5;
    long = -0.09;
    var mymap = L.map('mapid').setView([lat, long], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      id: 'mapbox.streets'
    }).addTo(mymap);

    var marker = L.marker([lat, long]).addTo(mymap);

    var LeafIcon = L.Icon.extend({
      options: {
        shadowUrl: '<%= asset_path('leaf-shadow.png') %>',
        iconSize:     [38, 95],
        shadowSize:   [50, 64],
        iconAnchor:   [22, 94],
        shadowAnchor: [4, 62],
        popupAnchor:  [-3, -76]
      }
    });

    var myIcon = L.divIcon({
      className: 'my-div-icon',
      html: 'Test'
    });

//    var greenIcon = new LeafIcon({iconUrl: '<%= asset_path('leaf-green.png') %>'}),
//        redIcon = new LeafIcon({iconUrl: '<%= asset_path('leaf-red.png') %>'}),
//        orangeIcon = new LeafIcon({iconUrl: '<%= asset_path('leaf-orange.png') %>'});

    L.marker([51.5, -0.09], {icon: myIcon}).bindPopup("I am a green leaf.").addTo(mymap);
    L.marker([51.495, -0.083], {icon: myIcon}).bindPopup("I am a red leaf.").addTo(mymap );
    L.marker([51.49, -0.1], {icon: myIcon}).bindPopup("I am an orange leaf.").addTo(mymap);
  </script>
