/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require leaflet
 *= require font-awesome
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  h2{
    margin-bottom: 15px;
    margin-top: 15px;
    .first{color: rgb(43,149,59);}
    .second{color: rgb(37,151,205)}
    .third{color: rgb(246,198,142)}
    small{font-size: 40%;}
  }
  margin-bottom: 0;
  .navbar-nav > li > a {
    padding-top: 23px !important;
  }
}

.books{
    top: 65px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    width: 60%;
    z-index: 0;
    padding-top: 15px;
}

.map{
    top: 65px;
    z-index: 0;
    display: block;
    width: 40%;
    bottom: 0;
    left: auto;
    position: fixed;
    right: 0;
    #mapid { height: 100%; }
}

.books{
  padding-left: 15px;
  padding-right: 15px;
  .book{
    margin-bottom: 30px;
  }
}

.book-title{
  margin-top: 5px;
}

.rating{
  font-size: 28px;
}

.review{
  margin-top: 10px;
}

.img-round{
  border: 2px solid #fff;
  border-radius: 50%;
}

.borrow-info{
  margin-top: 10px;
  .avatar{
    height: 64px;
    width: 64px;
    margin-right: 15px;
    &.requester{
      &:first-of-type{
        margin-left: 0;
      }
      margin-left: -45px;
    }
  }
  .borrow-button{
    margin-top: 10px;
  }
}

.borrow-modal{
  overflow:hidden;
  .user-name{
    background-color: rgb(250, 251,253);
  }
  .book-info{
    border-bottom: 1px solid #e5e5e5;
  }
  .message-box{
    height: 200px;
    background-color: rgb(244, 246, 250);
  }
  .send-message{
    background-color: rgb(250, 251,253);
    .form-group{
      float: left;
      width: 85%;
      .form-control{
        width: 100%;
      }
    }
  }
}

.map-icon{
  width: 40px;
  .book-num{
    border: 2px solid #fff;
    background-color: rgb(43,149,59);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 33px;
    text-align: center;
    color: #fff;
  }
}

.star-img{
  background: rgba(0, 0, 0, 0) url('rating.png') no-repeat scroll 0 0;
  display: inline-block;
  height: 15px;
  overflow: hidden;
  width: 75px;
}
.star10 {
  background-position: 0 0;
}
.star9 {
  background-position: 0 -15px;
}
.star8 {
  background-position: 0 -30px;
}
.star7 {
  background-position: 0 -45px;
}
.star6 {
  background-position: 0 -60px;
}
.star5 {
  background-position: 0 -75px;
}
.star4 {
  background-position: 0 -90px;
}
.star3 {
  background-position: 0 -115px;
}
.star2 {
  background-position: 0 -130px;
}
.star1 {
  background-position: 0 -145px;
}