/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require leaflet
 *= require font-awesome
 *= require slick
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick-theme';

.inherit-color{
  color: inherit;
}

.no-margin{
  margin-top: 0;
  margin-bottom: 0;
}

.inline-block{
  display: inline-block;
}

.navbar-header{
  float: left !important;
}

.navbar-right{
  float: right !important;
  @media (max-width: 767px){
    margin: 7.5px -15px 0;
  }
}

.navbar{
  .nav-title{
    font-size: 24px;
    .first{color: rgb(43,149,59);}
    .second{color: rgb(37,151,205)}
    .third{color: rgb(246,198,142)}
  }
  margin-bottom: 0;
}


.books{
  @media (min-width: 767px){
    width: 60%;
    top: 52px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    z-index: 0;
    padding-top: 15px;
  }
  @media (max-width: 767px){
    position: relative !important;
    padding-top: 64px !important;
    display: block;
  }
}

.map{
    top: 52px;
    z-index: 0;
    display: block;
    width: 40%;
    bottom: 0;
    left: auto;
    position: fixed;
    right: 0;
    #mapid { height: 100%; }
}

.books{
  padding-left: 15px;
  padding-right: 15px;
  .book{
    margin-bottom: 30px;
  }
}


.footer{
  border-top: 1px solid #D8D8D8 ;
  padding-top: 16px ;
  margin-bottom: 30px;
}
