#testModal{
  .modal-dialog {
    margin: 60px auto;
  }
}

.avatar-wrapper:hover{
  text-decoration: none;
}

.borrow-modal{
  overflow:hidden;
  .user{
    background-color: rgb(250, 251,253);
    .avatar{
      height: 40px;
      width: 40px;
    }
  }
  .book-info{
    border-bottom: 1px solid #e5e5e5;
  }
  .message-box{
    height: 200px;
    background-color: rgb(244, 246, 250);
  }
  .send-message{
    background-color: rgb(250, 251,253);
    .form-group{
      float: left;
      width: 85%;
      .form-control{
        width: 100%;
      }
    }
  }
}
